*{
    font-family: 'Arial';
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
    scroll-behavior: smooth;
}

$brand:black;
$second:#fff;
$black:#000;
$purple:#B861FF